.container {
  background-color: #ffffff;
  color: #101828;
  .row {
    height: 100vh;
    .col-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      .aside-image {
        width: 100%;
        visibility: hidden;
      }
      .form-head {
        margin-bottom: 24px;
      }
      .form-group {
        margin-bottom: 24px;
        position: relative;
        .show-password-btn {
          width: 45px;
          height: 48px;
          float: right;
          right: 1.1%;
          margin-top: 1%;
          display: inline-flex;
          position: absolute;
        }
      }
      .form-label {
        color: #344054;
        display: flex;
        width: 100%;
        font-size: 16px;
        margin-bottom: 12px;
      }
      .form-control {
        border: 3px solid #d0d5dd;
        border-radius: 8px;
      }
      .form-btns {
        margin-top: 32px;
        margin-bottom: 24px;
      }

      .social {
        .btn-light-primary {
          gap: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .account-link {
        font-size: 16px;
        color: #98a2b3;
        font-weight: 400;
        margin-top: 24px;
        gap: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .left-col {
      display: block;
      font-weight: bold;
      color: whitesmoke;
      justify-content: center;
      align-items: center;
      background: linear-gradient(90deg, rgba(63, 94, 251, 1) 100%, rgba(209, 233, 255, 1) 20%);
      padding: 10% 5% 5% 5%;
      .logo-head {
        font-size: 5rem;
        margin-bottom: 8%;
        .sun-moon {
          font-size: 3.5rem;
          cursor: pointer;
        }
      }
      .logo-desc {
        font-size: 3rem;
        margin-bottom: 10%;
      }
      .logo-caption-desc {
        font-size: 2rem;
        letter-spacing: 1.5px;
      }
    }
  }
}

.container-dark {
  background-color: #101828;
  color: whitesmoke;
  .row {
    height: 100vh;
    .col-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      .aside-image {
        width: 100%;
        visibility: hidden;
      }
      .form-head {
        margin-bottom: 24px;
      }
      .form-group {
        margin-bottom: 24px;
        position: relative;
        .show-password-btn {
          width: 45px;
          height: 48px;
          float: right;
          right: 1.1%;
          margin-top: 1%;
          display: inline-flex;
          position: absolute;
        }
      }
      .form-label {
        color: #344054;
        display: flex;
        width: 100%;
        font-size: 16px;
        margin-bottom: 12px;
      }
      .form-control {
        border: 3px solid #d0d5dd;
        border-radius: 8px;
      }
      .form-btns {
        margin-top: 32px;
        margin-bottom: 24px;
      }

      .social {
        .btn-light-primary {
          gap: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .account-link {
        font-size: 16px;
        color: #98a2b3;
        font-weight: 400;
        margin-top: 24px;
        gap: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .left-col {
      display: block;
      font-weight: bold;
      color: whitesmoke;
      justify-content: center;
      align-items: center;
      background: linear-gradient(90deg, rgba(63, 94, 251, 1) 100%, rgba(209, 233, 255, 1) 20%);
      padding: 10% 5% 5% 5%;
      .logo-head {
        font-size: 5rem;
        margin-bottom: 8%;
        .sun-moon {
          font-size: 3.5rem;
          cursor: pointer;
        }
      }
      .logo-desc {
        font-size: 3rem;
        margin-bottom: 10%;
      }
      .logo-caption-desc {
        font-size: 2rem;
        letter-spacing: 1.5px;
      }
    }
  }
}
