<div [ngClass]="light ? 'container' : 'container-dark'">
  <div class="row">
    <div class="col-2 left-col">
      <div class="logo-head">
        ng-starter <span class="sun-moon" *ngIf="light" (click)="handleThemeMode()">🌝</span
        ><span class="sun-moon" *ngIf="!light" (click)="handleThemeMode()">🌚</span>
      </div>
      <div class="logo-desc">✨ Unleash your inner Angular master with ng-starter!</div>
      <div class="logo-caption-desc">
        This 💪 powerful tool jumpstarts your 🧑‍💻 development by providing a pre-configured Angular project foundation
        🏗️.
      </div>
    </div>
    <div class="col-2">
      <div class="signup-form">
        <div class="form-head f-28">Forgot Password</div>
        <form [formGroup]="fpForm">
          <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input type="text" class="form-control" formControlName="email" id="email" autocomplete="on" />
            <div
              class="error"
              *ngIf="this.fpForm.controls['email'].hasError('required') && this.fpForm.controls['email'].touched"
            >
              Email is required.
            </div>
            <div class="error" *ngIf="this.fpForm.controls['email'].invalid && this.fpForm.controls['email'].touched">
              Email is invalid.
            </div>
          </div>
          <div class="form-group form-btns">
            <button type="button" class="btn btn-primary" (click)="handleFP()">Send Link</button>
          </div>
        </form>
        <div class="account-link">
          <span class="already-account-text">Remember Password?</span>
          <a routerLink="/auth/signin">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>
