.container {
  position: absolute;
  top: 60px;
  bottom: 25px;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 0.5%;
  padding-block: 0.5%;
  width: 200px;
  background: white;
}

.mdc-button:hover {
  color: white !important;
  background-color: rgb(63, 81, 181);
}
.active-link {
  color: white !important;
  background-color: rgb(63, 81, 181);
}

.active-link1 {
  background-color: #f0f0f0;
  color: #000;
}

.mdc-button {
  justify-content: flex-start;
  width: -webkit-fill-available;
  margin-bottom: 1px;
}
