.footer {
  height: 25px;
  color: white;
  background-color: #3f51b5;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  .footer-container {
    .sidebar-toggle {
      justify-content: space-between;
      align-items: start;
      cursor: pointer;
      :hover {
        // background: rgba(255, 0, 0, 0.5);
        background-color: #3f51b5;
      }
    }
  }
}
