.single-card {
  width: 185px;
  margin-bottom: 4%;
}
.single-card:hover {
  background-color: #d7e2ed;
  color: #3f51b5;
  transition: 0.25s ease-in-out;
}
.card-header {
  font-size: large;
}
.card-content {
  font-size: small;
}
.header-icon {
  width: 40px;
  height: 40px;
  font-size: xx-large;
}
.header-span-count {
  font-size: x-large;
  margin-left: 50%;
}
